<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            function ado() {
                alert('cc');
//                swal("Oopz! Check Your Password or Username!", "Please Enter Your Valid Username & Password!", "error");
            }
        </script>

</head>
<body>
<button type="submit" onclick="ado()">Hello</button>
</body>
</html>